<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <title>@this.ViewBag.Title</title>
    <link href="@this.Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@this.Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1>
                DigifySales.com</h1>
            <h2>
                Mark Stewart</h2>
        </div>
        <!-- end #logo -->
        <div id="menu">
            <ul>
                <li class="first"><a href="/">Home</a></li>
                <li>@Html.ActionLink("Experience", "Index", "Experience")</li>
            </ul>
        </div>
        <!-- end #menu -->
    </div>
    <!-- end #header -->
    <div id="page">
        <div id="content">
            @this.RenderBody()
        </div>
        <!-- end #content -->
        <div id="sidebar">
            <div id="box4">
                <div class="bgtop">
                    <div class="bgbtm">
                        <h2>
                            Qualifications</h2>
                        <ul class="align-left">
                            <li>Prospecting/Client Cultivation</li>
                            <li>Account Development</li>
                            <li>New Product Launching</li>
                            <li>Competitive/Strategic Planning</li>
                            <li>Negotiating Contracts</li>
                            <li>Closing Hard Sales</li>
                            <li>Networking</li>
                            <li>Budgeting/Forecasting</li>
                            <li>International Trade Shows</li>
                            <li>Organization</li>
                            <li>Relationship Selling</li>
                            <li>Advertising/Marketing</li>
                        </ul>
                        <br style="clear: both;" />
                    </div>
                </div>
            </div>
            <!-- end #box4 -->
            <div id="box5">
                <div class="bgright">
                    <h2>
                        Contact</h2>
                    <ul class="list1">
                        <li><a href="mailto:ms4059@att.com">Email</a></li>
                        <li><a href="http://www.linkedin.com/in/digifysales">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">
            <!-- # -->
        </div>
    </div>
    <!-- end #page -->
    <div id="footer">
        <p>
            Copyright &copy @DateTime.Now.Year DigifySales.com. All rights reserved.</p>
    </div>
    <!-- end #footer -->
</body>
</html>
